{% extends "layout.html" %}
{% block conteudo %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Clientes</h2>
        <a href="/criar-cliente"><button class="btn btn-success">Adicionar</button></a>
    </div>
    {% for cliente in clientes %}
    <div class="d-flex p-3 border rounded-2 justify-content-between align-items-center mb-3">
        <div class="">
            <h3>{{ cliente.nome }}</h3>
            <p>Telefone: {{ cliente.telefone }}</p>
            <p>Endereço: {{ cliente.endereco }}</p>
        </div>
        <div class="d-flex flex-column">
            <form action="/deletar-cliente" method="POST">
                <input type="hidden" name="cliente_id" value={{cliente.id}}>
                <button type="submit" class="btn btn-danger">Deletar</button>
            </form>
            <a href="/criar-bebida"><button class="btn btn-warning mt-2 w-100">Editar</button></a>
        </div>
    </div>
    {% endfor %}
{% endblock %}