{% extends "layout.html" %}
{% block conteudo %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Funcionarios</h2>
        <a href="/criar-funcionario"><button class="btn btn-success">Adicionar</button></a>
    </div>
    {% for funcionario in funcionarios %}
    <div class="d-flex p-3 border rounded-2 justify-content-between align-items-center mb-3">
        <div class="">
            <h3>{{ funcionario.nome }}</h3>
            <p>Email: {{ funcionario.email }}</p>
        </div>
            <div>
            <form action="/deletar-funcionario" method="POST">
                <input type="hidden" name="funcionario_id" value={{funcionario.id}}>
                <button type="submit" class="btn btn-danger">Deletar</button>
            </form>
        </div>
    </div>
    {% endfor %}
{% endblock %}